<div class="flex flex-col space-y-4 p-4">
  <div
    class="flex justify-center items-center h-48 border-2 border-dashed rounded"
    [ngClass]="{ highlight: isHighlighted }"
    (dragover)="onDropZoneDrag($event)"
    (drop)="onDropZoneDrop($event)"
    (dragleave)="onDropZoneDragLeave()"
  >
    <div class="flex flex-col items-center space-y-2">
      <label
        class="flex flex-col items-center text-blue-500 font-semibold text-xl rounded cursor-pointer"
        for="upload-image"
        >
          <ng-icon class="text-blue-400" name="heroDocumentPlusSolid" size="48" />
          <span class="pt-2">Select a file to upload</span>
        </label
      >
      <input
        #fileInput
        class="hidden"
        type="file"
        id="upload-image"
        name="upload-image"
        accept="image/*"
        (change)="onFileInputChange($event)"
      />
      <p class="text-neutral-400">or drag and drop it here</p>
    </div>
  </div>
  <div class="">
    <div class="flex w-full rounded">
      <input class="flex-1 bg-neutral-100 p-2 border-y border-l rounded-l" type="text" placeholder="File URL">
      <button class="p-2 border border-blue-500 bg-blue-500 text-white rounded-r" type="button">Upload</button>
    </div>
  </div>
  <div class="flex flex-col space-y-2">
    <p class="font-semibold">File attachments</p>
    <div class="border rounded">
      <table class="w-full">
        <thead class="bg-neutral-100">
          <tr class="text-left">
            <th class="p-2 font-medium text-sm">Name</th>
            <th class="p-2 font-medium text-sm">Date added</th>
            <th class="p-2 font-medium text-sm">Size</th>
            <th class="p-2"></th>
          </tr>
        </thead>
        <tbody class="overflow-y-auto">
          <tr class="border-t" *ngFor="let file of currentFiles">
            <td class="p-2">{{ file.name }}</td>
            <td class="p-2">{{ file.lastModified | date:'MMM d, y' }}</td>
            <td class="p-2">{{ file.size | fileSize }}</td>
            <td class="p-2"><button class="p-2 flex justify-between items-center" (click)="removeFile(file)">
              <ng-icon class="text-neutral-400" name="heroTrashSolid" size="20" />
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
